{
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "quoteProps": "as-needed",
  "tabWidth": 2,
  "useTabs": false
}
